################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VendorProject/obj
/.vs
/VendorProject/.vs/VendorProject
/VendorProject/bin/Debug/net8.0
/VendorProject/VendorProject.csproj.user
/VendorProject/.vs/ProjectEvaluation
/VendorProject.EF/obj
/VendorProject.EF/bin
